<div id="footer">
  <p>&copy by Alois, Gwendolin & Robert</p>
</div>
<script>
    //say socket which user it connects
    sockjs.onopen = function() { sockjs.send(document.getElementById("current-user").value); };
</script>
</body>
</html>