<!doctype html>
<html><head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
      body {
          background-color: #F0F0F0;
          font-family: "Arial";
          padding-top: 50px;
          margin-bottom: 60px;
      }

      html {
          position: relative;
          min-height: 100%;
      }

      .box {
          width: 300px;
          float: left;
          margin: 0 20px 0 20px;
      }
      .box div, .box input {
          border: 1px solid;
          -moz-border-radius: 4px;
          border-radius: 4px;
          width: 100%;
          padding: 0px;
          margin: 5px;
      }
      .box div {
          border-color: grey;
          height: 300px;
          overflow: auto;
      }
      .box input {
          height: 30px;
      }
      h1 {
          margin-left: 30px;
      }

      #footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 80px;
          color: #999;
          padding-top: 30px;
          text-align: center;
          background-color: #f9f9f9;
          border-top: 1px solid #e5e5e5;
      }

      .pic-container {
        min-height: 200px;
      }

      .pic-seperator {
        padding: 5px 0 5px 0;
        border-bottom: 1px solid #666;
      }
    </style>
</head>
<body lang="en">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Instaclone</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/users">Users</a></li>
        </ul>
        <input id="current-user" type="hidden" value="<%= currentUser %>">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <% if (currentUser) { %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= currentUser %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/logout">Logout</a></li>
              </ul>
            <% } else { %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Login as...
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% userlist.forEach(function(user) { %>
                  <li><a href="/login/<%= user %>"><%= user %></a></li>
                <% }); %>
              </ul>
            <% } %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

