<div class="panel panel-default">
    <div class="panel-body">
        <div id="second" class="box">
            <form id="imageupload" method="post" action="/upload" enctype="multipart/form-data">
                <input type="file" name="image"/>
                <input type="submit" value="Upload Picture" />
            </form>
            </div>
    </div>
</div>