<%- include head %>

<div class="container">
    <br>
    <div class="col-md-8">
            <div class="panel panel-default">
                <div id="pic-stream" class="panel-body">
                    <div id="pic-append-placeholder"></div>
                    <% pics.forEach(function(pic) { %>
                        <p class="pic-seperator"></p>
                        <div class="pic-container">
                            <div class="col-md-4">
                                <strong><a href="/<%= pic.user %>"><%= pic.user %></a></strong>
                                <br>
                                <%= new Date(pic.uploaded_at).toLocaleDateString("en-us") %>
                                <br>
                                <%= new Date(pic.uploaded_at).toLocaleTimeString("en-us") %>
                            </div>
                            <div class="col-md-8"><img src="<%= pic.thumb %>"></div>
                        </div>
                    <% }); %>
                </div>
            </div>
    </div>
    <div class="col-md-4">
        <% if (currentUser) { %>
            <%- include imageupload %>
        <% } %>
    </div>

    <script>
        var sockjs_url = '/instaclone';
        var sockjs = new SockJS(sockjs_url);

        var imageupload = $('form#imageupload');

        sockjs.onmessage = function(e) {
            var pic = jQuery.parseJSON(e.data);
            console.log(pic);
            var html = '<p class="pic-seperator"></p><div class="pic-container"><div class="col-md-4"><strong>'+ pic.user +'</strong><br>'+ new Date(pic.uploaded_at).toLocaleDateString("en-us") +'<br>'+ new Date(pic.uploaded_at).toLocaleTimeString("en-us") +'</div><div class="col-md-8"><img src="'+ pic.thumb +'"></div></div>';

            $(html).insertAfter('#pic-append-placeholder');
        };

        imageupload.submit(function() {                      
            $(this).ajaxSubmit(
                {clearForm: true}
            ); 
            return false;
        });

    </script>

</div><!-- /.container -->
<br>
<%- include foot %>