<%- include head %>

<script>
    var sockjs_url = '/instaclone';
    var sockjs = new SockJS(sockjs_url);

    sockjs.onmessage = function(e) {print('[.] message', e.data);};
</script>

<div class="container">
	<h1><%= user %>'s profile</h1>

	<div class="col-md-8">
		<div class="panel panel-default">
			<div id="pics-container" class="panel-body">
		    	<% pics.forEach(function(pic) { %>
                    <div class="pic-container">
                        <div class="col-md-4">
                            <%= new Date(pic.uploaded_at).toLocaleDateString("en-us") %>
                            <br>
                            <%= new Date(pic.uploaded_at).toLocaleTimeString("en-us") %>
                        </div>
                        <div class="col-md-8"><img src="<%= pic.thumb %>"></div>
                    </div>
                    <p class="pic-seperator"></p>
				<% }); %>
			</div>
		</div>
	</div>
	<div class="col-md-4">
        <% if (currentUser && user != currentUser) { %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <% if (currentUserFollows.indexOf(user) === -1) { %>
                        <a href="/<%= user %>/follow" class="btn btn-primary btn-block">Follow</a>
                    <% } else { %>
                        <a href="/<%= user %>/unfollow" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok"></span>  Followed</a>
                        <br>
                        Click the button again to unfollow this user.
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>

</div><!-- /.container -->

<%- include foot %>