<%- include head %>

<script>
    var sockjs_url = '/instaclone';
    var sockjs = new SockJS(sockjs_url);

    sockjs.onmessage = function(e) {print('[.] message', e.data);};

</script>

<div class="container">
    <h1>Users</h1>

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <% users.forEach(function(user) { %>
                  <div class="well well-sm"><a href="/<%= user %>"><%= user %></a></div>
                <% }); %>
            </div>
        </div>
    </div>

</div><!-- /.container -->

<%- include foot %>